---
import { ViewTransitions } from "astro:transitions";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---
<!-- campfire2.webp/campfire1.webp files converted from gifs aquired through https://tenor.com/view/dark-souls-knight-rest-here-weary-rest-here-weary-one-gif-19874929 & https://tenor.com/view/anime-frieren-read-reading-grimoire-gif-9258809254239823881 -->
<!doctype html>
<html lang="en">
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
		<div class='container'>
			<h1>🐒</h1>
		
			<h1>Website under construction</h1>
			
			<div class="overlay">
				<div class="layer">
					<img src="/animations/moving trees/B/background B layer1.png" />
				</div>
				<div class="layer layer1">
					<img src="/animations/moving trees/B/background B layer2.png" />
					<img src="/animations/moving trees/C/background C layer2.png" />
				</div>
				<div class="layer layer2">
					<img src="/animations/moving trees/B/background B layer3.png" />
					<img src="/animations/moving trees/C/background C layer3.png" />
				</div>
				<div class="layer layer3">
					<img src="/animations/moving trees/B/background B layer4.png" />
					<img src="/animations/moving trees/C/background C layer4.png" />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
