---
import { ViewTransitions } from "astro:transitions";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main>
			<div class="centered" style="flex-direction:column;"> 

                <h1 style="border-top: none;" > Nice to meet you, I'm Cheth! </H1>
                <h4>
                <a href="https://0xcheth.com" target="_blank">🔗 0xcheth.com</a>
                <a href="https://0xcheth.dev" target="_blank">🔗 0xcheth.dev</a>
                <a href="https://www.instagram.com/cheth17?igsh=MTFvdHR2aXI1emV0MA==" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="50" style="background:transparent; border:none;">
                </a>
                <a href="https://www.linkedin.com/in/0xcheth/" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" width="50" style="background:transparent; border:none;">
                </a>
                <a href="https://github.com/0xcheth" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" width="50" style="background:transparent; border:none;">
                </a>
            </h4>          
                  
                </div>
                
                <h1> 🧙🏾‍♂️ About me: </h1>
                
                Geneticist in training with an avid interest in finding out why we age like we do and how to slow it down. 
                
                Other than that I do a bit of coding as a hobby. Pretty jealous of my friends who managed to land software dev jobs straight out of uni though >:) 
                
                Currently stuggling to navigate through Genomics and landing relavant job roles no plans for a career change though!
                
                
                <h1> 🖥️ Skills: </h1>
                <div>
                    <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
                    <img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
                    <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
                    <img src="https://img.shields.io/badge/R-276DC3?style=for-the-badge&logo=R&logoColor=white" alt="R">
                    <img src="https://img.shields.io/badge/sqlite-%23274B79.svg?style=for-the-badge&logo=sqlite&logoColor=white" alt="SQLite">
                    <img src="https://img.shields.io/badge/C%2B%2B-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white" alt="C++">
                    <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript">
                    <img src="https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&logo=markdown&logoColor=white" alt="Markdown">
                    <img src="https://img.shields.io/badge/MDX-%237F52FF.svg?style=for-the-badge&logo=mdx&logoColor=white" alt="MDX">
                    <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3">
                    <img src="https://img.shields.io/badge/html5-%2300C853.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
                    <img src="https://img.shields.io/badge/Astro-%23FF5D01.svg?style=for-the-badge&logo=astro&logoColor=white" alt="Astro">
                    <img src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="Tailwind CSS">
                    <img src="https://img.shields.io/badge/SQL-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white" alt="SQL">
                    <img src="https://img.shields.io/badge/git-%23F05033.svg?style=for-the-badge&logo=git&logoColor=white" alt="Git">
                    <img src="https://img.shields.io/badge/Podman-%23382FDC.svg?style=for-the-badge&logo=podman&logoColor=white" alt="Podman">
                    <img src="https://img.shields.io/badge/Docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Docker">
                    <img src="https://img.shields.io/badge/Red%20Hat-%23EE0000.svg?style=for-the-badge&logo=redhat&logoColor=white" alt="Red Hat">
                    <img src="https://img.shields.io/badge/Linux-%23FCC624.svg?style=for-the-badge&logo=linux&logoColor=black" alt="Linux">
                    <img src="https://img.shields.io/badge/Fedora-%2351A2DA.svg?style=for-the-badge&logo=fedora&logoColor=white" alt="Fedora">
                </div>
                
                
                <div class='centered'>
                
                  <h5> or find my full resume <a href="https://0xcheth.com/aboutme">here! 🥼</a> :) </h5>
                
                </div>
                
                <h1>🗓️ Github Stats</h1>

                <img src="https://github-profile-trophy.vercel.app/?username=0xcheth&theme=discord&no-frame=true&margin-w=4" alt="Github Trophy">

                <h3>Overall github stats</h3>
                <img src="https://github-readme-stats.vercel.app/api?username=0xcheth&rank_icon=github&hide=contribs,prs&show_icons=true&bg_color=00000000&text_color=000000&hide_border=true&include_all_commits=true&hide_title=true" alt="Overall Github Stats">

                <h3>Top languages</h3>
                <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=0xcheth&bg_color=00000000&hide_border=true&text_color=000000&icon_color=7289da&ring_color=7289da&hide_title=true" alt="Top Languages">

                <h3>Top repositories</h3>
                <img src="https://github-contributor-stats.vercel.app/api?username=0xcheth&limit=5&bg_color=00000000&hide_border=true&text_color=000000&combine_all_yearly_contributions=true&hide_title=true" alt="Top Repositories">

                <h3 style="margin-bottom: 20px;">Visitors</h3>
                <img src="https://visitcount.itsvg.in/api?id=0xcheth&icon=7&" alt="Visitors">

                <p>ps: the profile views are mostly bots 🐒 also, unrelated but my hairs are starting to grey...</p>
                
                <style>
                blue { color: #4169E1 }
                
                .centered {
                    display: flex;
                    justify-content: center; 
                    align-items: center; 
                    text-align: center; 
                    flex-direction: row;
                }  
                
                h1, h2 {
                  border-bottom: none; 
                  box-shadow: none;
                  border-top: 1px solid;
                  padding-top: 15px;   
                }
                
                a {
                    margin-top: 0;
                    color: #7289da;
                }
                
                p {
                    font-size: 20px;
                }
                
                </style>
                    
		</main>
		<Footer />
	</body>
</html>
	